body {
  font-family: 'Poppins', sans-serif;
  font-size: 0.86rem;
  background: #fafafa;
}

h1 {
  font-size: 1.875rem;
}

h2 {
  font-size: 1.625rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 0.925rem;
}

h6 {
  font-size: 0.825rem;
}

.dropdown-menu,
.btn,
.form-control,
.form-select {
  font-size: 0.85rem;
  padding: .375rem .75rem;
}

.btn-lg {
  font-size: 0.95rem;
  padding: .5rem 1rem;
}

.btn-sm {
  font-size: 0.75rem;
  padding: .25rem .5rem;
}

.task-item:hover {
  cursor: pointer;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #eee;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: gray;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: gray;
}


/* sidebar */
.area-item .area-options {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.area-item:hover .area-options {
  visibility: visible;
  opacity: 1;
}

.fixed-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
}

/* main */

.main-content {
  margin-top: 50px;
  margin-left: 250px;
  background: transparent;
}

.login-content {
  margin-left: 200px;
}

/* sidebar */
.sidebar {
  background: #ececec;
}

.nav-link {
  color: var(--bs-dark);
}

.nav-link.active-link {
  background-color: #343a40;
  color: #fff;
}

.nav-link:hover, .nav-link a:hover {
  color: #666 !important;
}

.nav-link.active-link:hover, .nav-link.active-link a:hover {
  color: #ccc !important;
}

.dark-mode .nav-link {
  color: #fff;
}

.dark-mode .nav-link.active-link {
  background-color: var(--bs-dark);
}

/* tasks, notes */

.task-item,
.note-item {
  /* background: var(--bs-white); */
}

.dark-mode .task-item,
.dark-mode .note-item {
  /* background: var(--bs-gray-dark) !important; */
}

.task-item:hover,
.note-item:hover {
  background: #eee !important;
}

.dark-mode .task-item:hover,
.dark-mode .note-item:hover {
  background: #292929 !important;
}

/* task form */

.task-name-input::placeholder {
  color: #ccc;
  opacity: 1;
}

.new-task-input {
  background: #f2f2f2;
}

/* note form */

.no-focus-outline textarea:focus,
.no-focus-outline textarea:-moz-focusring {
  outline: none !important;
}

/* project card */
a.project-card .card:hover {
  border: 1px solid #777 !important;
}

/* dark mode */
.dark-mode {
  background-color: #191919;
  color: var(--bs-light);
}

.dark-mode .sidebar {
  background-color: var(--bs-black);
}

.sidebar .border-top {
  border-color: #ddd !important;
}

.dark-mode .sidebar .border-top {
  border-color: #333 !important;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6 {
  color: var(--bs-light) !important;
}

.dark-mode .modal .modal-dialog .modal-content {
  background-color: var(--bs-gray-dark);
  color: var(--bs-light);
}

.dark-mode .modal-header {
  border-color: var(--bs-black);
}

.dark-mode input,
.dark-mode tags,
.dark-mode select,
.dark-mode textarea {
  background-color: var(--bs-dark);
  color: var(--bs-light);
  border-color: var(--bs-black);
}

.dark-mode input:focus,
.dark-mode textarea:focus {
  background-color: var(--bs-black);
  color: var(--bs-light);
}

.dark-mode tag {
  background-color: var(--bs-gray-dark) !important;
  color: var(--bs-light) !important;
  me
}

.dark-mode .project-card .card {
  background-color: var(--bs-gray-dark) !important;
  color: var(--bs-light) !important;
}

.dark-mode .progress {
  background-color: var(--bs-dark);
}

.panel-card {
  background-color: var(--bs-white) !important;
  color: var(--bs-dark) !important;
}

.dark-mode .panel-card {
  background-color: var(--bs-gray-dark) !important;
  color: var(--bs-light) !important;
}

.panel {
  background-color: #eee;
}

.dark-mode .panel {
  background-color: var(--bs-black);
}

#newNoteForm .card {
  color: var(--bs-dark) !important;
}

.dark-mode #newNoteForm .card {
  background-color: var(--bs-gray-dark) !important;
  color: var(--bs-light) !important;
}

.blank-slate {
  background-color: #eee !important;
  color: var(--bs-dark) !important;
}

.dark-mode .blank-slate {
  background-color: var(--bs-gray-dark) !important;
  color: var(--bs-light) !important;
}

.note-form-toggler {
  border: 1px solid #ddd !important;
  background-color: #f4f4f4 !important;
  color: #ccc !important;
}

.dark-mode .note-form-toggler {
  border: 1px solid #000 !important;
  background-color: var(--bs-dark) !important;
  color: var(--bs-light) !important;
}