# Base URL of the running frontend app
#APP_URL=http://localhost:8080

# Test user credentials
# Create with: TASKNOTETAKER_USER_EMAIL=... TASKNOTETAKER_USER_PASSWORD=... npm run backend:start
E2E_EMAIL=test@TaskNoteTaker.com
E2E_PASSWORD=<replace_with_actual_value>
