<div class="modal modal-lg fade" id="newProjectModal" tabindex="-1" aria-labelledby="newProjectModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newProjectModalLabel">New Project</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= partial :'projects/_form', locals: { project: Project.new, form_action: '/project/create', form_id: 'newProjectForm' } %>
      </div>
    </div>
  </div>
</div>
