<h2 class="mb-5"><i class="bi bi-hexagon ms-3 me-2"></i>Areas & Projects</h2>

<h4 class="mt-5 ms-4 fw-bold">Projects</h4>
<div class="row p-3">
  <% if @projects_with_tasks.any? %>
    <% @projects_with_tasks.each do |project| %>
      <div class="col-md-4 mb-3">
        <a class="text-decoration-none project-card" href="/project/<%= project.id %>">
          <div class="card shadow-sm p-0" style="min-height: 177px;">
            <div class="card-body p-0">
              <div class="bg-light rounded" style="height: 100px;"></div>
              <h5 class="card-title px-3 pt-3 pb-0 mb-1"><%= project.name.upcase %></h5>
              <p class="card-text px-3 small text-black-50 opacity-75"><%= project.area.name %></p>
            </div>
          </div>
        </a>
      </div>
    <% end %>
  <% end %>
  <div class="col-md-4 mb-3">
    <a class="text-decoration-none project-card"href="#" data-bs-toggle="modal" data-bs-target="#newProjectModal">
      <div class="card shadow-sm border-light p-0" style="min-height: 177px;">
        <div class="card-body bg-light rounded px-0 p-0 text-center">
          <i class="bi bi-plus" style="font-size: 72px; line-height: 175px; color: #eee"></i>
        </div>
      </div>
    </a>
  </div>
</div>
<%= partial :'tasks/_edit_task_modal' %>
