<div class="modal modal-lg fade" id="editAreaModal<%= area.id %>" tabindex="-1" aria-labelledby="editAreaModalLabel<%= area.id %>" aria-hidden="true">  
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editAreaModalLabel">Edit Area</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= partial :'areas/_form', locals: {
          area: area,
          form_id: 'editAreaForm',
          action_url: "/areas/#{area.id}",
          method: 'patch',
          button_text: 'Update Area'
        } %>
      </div>
    </div>
  </div>
</div>
