@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

input:focus, select:focus, textarea:focus {
  outline: none;
  box-shadow: none;
}

