<div class="container mt-5">
  <h2 class="mb-4 text-center" style="margin-top: 200px;">tududi Login</h2>
  <% if @errors %>
    <div class="alert alert-danger w-50 mx-auto" role="alert">
      <ul class="mb-0">
        <% @errors.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card mx-auto shadow-sm w-50">
    <div class="card-body">
      <form action="/login" method="post">
        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password:</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary mt-4">Login</button>
      </form>
    </div>
  </div>
</div>